@model Exercise


<table class="table table-hover table-responsive-md table-fixed">
    <thead>
        <tr>
            <th>Current exercise list</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model.TempList)
        {
        <tr>
            <td>@Html.DisplayFor(m => exercise.Title)</td>
        </tr>
        }
    </tbody>
</table>