@model Exercise

<h2>Are you sure you want to delete @Model.Title?</h2>

@using (Html.BeginForm("Delete", "Exercise"))
{
    @Html.Partial("_ExerciseForm")
    <div class="text-center mt-4">
        <button class="btn btn-danger" type="submit">Delete<i class="fa fa-paper-plane-o ml-2"></i></button>
        @Html.ActionLink("Cancel", "Index", "Exercise", null, new { @class = "btn btn-secondary" })
    </div>
}